body {
  font-size: 20px;
  @include font-nimbus;
  background-color: $c-white;
  
  @include breakpoint($bp-small){
    font-size: 18px;
  }
}


h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  
  a, a:visited, a:active, a:hover, a:focus {
    
  }
}

h1 {
  @include font-proxima;
  font-size: 1.6em;
  color: $c-white;
}
h2 {
  @include font-nimbus-con;
  font-size: 4.5em;
  color: $c-white;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: 600;
  line-height: .9;
}
h3 {
  @include font-nimbus-con;
  font-size: 3em;
  font-weight: 600;
  color: $c-darkgreen;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}
h4 {
  @include font-nimbus;
  font-size: 1.3em;
  color: $c-green;
  font-weight: 600;
}
h5 {
  @include font-nimbus-con;
  font-size: 2.4em;
  font-weight: 600;
  color: $c-white;
  text-transform: uppercase;
}
h6 {
  @include font-nimbus-con;
  font-size: 2em;
  font-weight: 600;
  color: $c-darkgreen;
  text-transform: uppercase;
  
}


a {
  color: $c-green;
  text-decoration: none;
  
  &:hover, &:active {
    color: lighten($c-green, 12%);
  }
  &:visited {
    color: $c-green;
  }
}

p {
  line-height: 1.3em;
  margin: .2em 0;
}

::selection, ::-moz-selection {
  
}

body, button, input, select, textarea {
  
}

p, ul, ol {
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border: 0;
  border-radius: 0;
  padding: 4px;
}

.button-big {
  @include button-big;
}

.button, form input[type='submit'] {
  @include button;
}