.band {
  
  &--main {
    @include content-center;
    text-align: center;
  }
  
  &--white {
    background-color: $c-white;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  &--green-split {
    @include breakpoint($bp-medium-up){
      background: linear-gradient(
        to right, 
        $c-green 0%, 
        $c-green 50%, 
        $c-lightgreen 50%, 
        $c-lightgreen 100%
      );
    }
    
    color: $c-white;
    
    a {
      color: $c-purple;
      @include font-nimbus-con;
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
      &:hover {
        color: darken($c-purple, 6%);
      }
    }
    
    .button, form input[type='submit'] {
      @include button-purple;
      padding: 8px 15px;
    }
    
    .band--main {
      @include breakpoint($bp-small){
        padding-left: 0;
        padding-right: 0;
        max-width: none;
        width: 100%;
      }
    }
  }
  
  &--blue {
    color: $c-white;
    
    .button {
      @include button-purple;
    }
  }
}