.site-content {
  
}


.hero {
  background-image: url('img/map.jpg');
  background-size: cover;
  color: $c-white;
    
  &--main {
    @include content-center;
    padding-top: 1.5em;
    
    @include breakpoint($bp-large){
      padding-top: 3.3em;
    }
    
    h2 {
      @include breakpoint(0px 420px){
        font-size: 3.35em;
      }
      @include breakpoint($bp-medium){
        font-size: 3.5em;
      }
    }
  }
  
  &--break {
    
  }
  
  &--tagline {
    font-size: 1.2em;
    margin-bottom: 3.5em;
    
    @include breakpoint($bp-medium-up){
      padding-right: 10%;
    }
    @include breakpoint($bp-smmd){
      margin-bottom: 2em;
    }
  }
  
  &--left {
    padding-bottom: 1em;
  }
  
  &--right {
    text-align: center;  
  }
  
  &--phone {
    @include breakpoint($bp-medium){
      margin-bottom: -1.5em; 
    }
    @include breakpoint($bp-large){
      margin-bottom: -3em;
    }
    z-index: stacking_order('phone');
  }
  
  &--button {
    @include button-big;
    @include button-yellow;
  }
}

.signup {
  background-color: $c-green;
  text-align: center;
  padding-top: 3em;
}

.odo {
  text-align: center;
  @include breakpoint($bp-medium){
    padding-top: 3em;  
  }
  @include breakpoint($bp-large){
    padding-top: 5em;
  }
  z-index: stacking_order('odo');
  
  @include breakpoint($bp-small){
    background-color: $c-lightgreen;
  }
}